<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.refractored.navdrawer.sample" android:versionCode="1" android:versionName="1">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="17" />
	<application android:icon="@drawable/hot_wheels_logo" android:label=" ">
	</application>
	<uses-permission android:name="android.permission.CAMERA" />
</manifest>